<%- include("includes/head.ejs") %>
<body>
    <div class="container">
        <h1>Edit  Post</h1>
        <div id="edit-form" class="form-container">
            <h3>@<%= user.username %></h3>
            <p><%= user.id %></p>
            <form method="post" action="http://localhost:8080/posts/<%= user.id %>?_method=PATCH">
                <textarea name="caption" id="caption"><%= user.caption %></textarea>
                <button type="submit">Save Changes</button>
            </form>
        </div>
    </div>
</body>
</html>