<%- include("includes/head.ejs") %>
<body>
  <div class="header">
     <h1>PostKar</h1>
  </div>
  <div class="fotter">
    <form action="http://localhost:8080/posts/new">
      <button>Create an post</button>
    </form>
  </div>
  <div class="fotter">
    <form method="get" action="http://localhost:8080/home">
      <button>Number of user in DataBase</button>
    </form>
  </div>
  <div class="main">
    <% for(let user of users) { %>
    <div class="main-contain">
      <img src="<%= user.url %>" alt="">
      <h3>@<%= user.username %></h3>
      <p><%= user.caption %> </p>
      <a href="http://localhost:8080/posts/<%= user.id%>/edit">Edit</a>
      <form method="post" action="http://localhost:8080/posts/<%= user.id%>?_method=DELETE">
        <button>Delete</button>
      </form>
    </div>
    <% } %>
  </div>
  
    
    
    
</body>
</html>